body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
    color: #495057;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
    background-color: lightsteelblue;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
}
.card{
    background-color: lightsteelblue;
}
.card-text{
    background-color: lightsteelblue;
}
.list-group-light{
    background-color: lightsteelblue;
}